@{
    ViewData["Title"] = "ChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count1 = 1; int count2 = 1;
    var bienban = ViewBag.BienBan;
    var sung = ViewBag.dsSung;
    var trangbi = ViewBag.dsTB;
}
<a asp-action="Index">Back to List</a>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="callout callout-info">
                    <h5><i class="fas fa-info"></i> @bienban.TenBienBan</h5>
                    Người tạo: @bienban.NguoiTaoNavigation.HoTen <br />
                    Thời gian tạo: @bienban.ThoiGian <br />
                    Ghi chú: @bienban.GhiChu 
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách vũ khí trong @bienban.TenBienBan</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Số hiệu súng</th>
                                    <th>Đơn vị tính</th>
                                    <th>Loại súng</th>
                                    <th>Phân cấp</th>
                                    <th>Ghi chú</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in sung)
                                {
                                    <tr>
                                        <td>@(count1++)</td>
                                        <td>@item.SoHieuSung</td>
                                        <td>@item.SoHieuSungNavigation.DonViTinh</td>
                                        <td>@item.SoHieuSungNavigation.MaLoaiSung</td>
                                        <td>@item.SoHieuSungNavigation.PhanCap</td>
                                        <td>@item.SoHieuSungNavigation.GhiChu</td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.SoHieuSung">Edit</a> |
                                            <a asp-action="Delete" asp-route-id="@item.SoHieuSung">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                    <div class="card-footer">
                        Footer
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách trang bị trong @bienban.TenBienBan</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã trang bị</th>
                                    <th>Tên trang bị</th>
                                    <th>Đơn vị tính</th>
                                    <th>Phân cấp</th>
                                    <th>Số lượng</th>
                                    <th>Ghi chú</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in trangbi)
                                {
                                    <tr>
                                        <td>@(count2++)</td>
                                        <td>@item.MaTrangBi</td>
                                        <td>@item.MaTrangBiNavigation.TenTrangBi</td>
                                        <td>@item.MaTrangBiNavigation.DonViTinh</td>
                                        <td>@item.PhanCap</td>
                                        <td>@item.SoLuong</td>
                                        <td>@item.MaTrangBiNavigation.GhiChu</td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.MaTrangBi">Edit</a> |
                                            <a asp-action="Delete" asp-route-id="@item.MaTrangBi">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        Footer
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>