@model IEnumerable<QLVuKhiTrangBi.Models.Sung>
@{
    int count = 1;
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><b>Danh sách súng</b></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <lable>Loại súng</lable>
                                <select name="loai" class="form-control form-control-sm">
                                    <option value="">Chọn loại súng</option>
                                    @foreach(var loai in ViewBag.loaisung)
                                    {
                                        <option value="@loai.MaLoaiSung">@loai.TenLoaiSung</option>
                                    }
                                </select>
                            </div>
                            <div class="col-2">
                                <lable>Phân cấp chất lượng</lable>
                                <select name="phanCap" class="form-control form-control-sm">
                                    <option value="">Chọn phân cấp</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="col-6"></div>
                            
                            <div id="example1_filter" class="dataTables_filter">
                                <label>
                                    Tìm kiếm:
                                    <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1" name="tkiem">
                                </label>
                                </div>
                        </div>
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Số hiệu súng</th>
                                    <th>
                                        Đơn vị tính
                                    </th>
                                    <th>Loại súng</th>
                                    <th>Quyết định</th>
                                    <th>Phân cấp</th>
                                    <th>Ghi chú</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(count++)</td>
                                        <td>@item.SoHieuSung</td>
                                        <td>
                                            @item.DonViTinh
                                        </td>
                                        <td>@item.MaLoaiSung</td>
                                        <td>@item.SoQd</td>
                                        <td>@item.PhanCap</td>
                                        <td>@item.GhiChu</td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.SoHieuSung">Edit</a> |
                                            <a asp-action="Delete" asp-route-id="@item.SoHieuSung">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
