@{
    ViewData["Title"] = "ChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var bienbangac = ViewBag.bienbangac;
    var bbSung = ViewBag.bbSung;
    var bbTB = ViewBag.bbTB;
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title w-100">
                            <b>Bàn giao Vũ khí, trang bị, vật chất canh gác</b>
                        </h2>
                        <div class="row">
                            <span style="color:black" class="col-3">Ca gác ngày: @ViewBag.ngay.ToString("dd/MM/yyyy")</span>
                            <div class="col-6"></div>
                            <span style="color:black; " class="col-3"><b>Phân đội canh gác: @ViewBag.PhanDoiGac</b></span>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <table id="example2" class="table table-bordered table-hover col-4">
                                <thead>
                                    <tr>
                                        <th colspan="2">Xuất kho (@bienbangac.ThoiGianMuon ngày @ViewBag.ngay.ToString("dd/MM/yyyy"))</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <b>Người nhận (cH/c)</b>
                                        </td>
                                        <td>
                                            <b>Người giao</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td >@bienbangac.CbdaidoiNhan</td>
                                        <td >@bienbangac.CbkhoGiao</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table id="example2" class="table table-bordered table-hover col-8">
                                <thead>
                                    <tr>
                                        <th>Nội dung</th>
                                        <th>Chi tiết, SL giao</th>
                                        <th>Tình trạng</th>
                                        <th>Ghi chú</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var s in bbSung)
                                    {
                                        if(s.MuonTra == 1)
                                        {
                                            <tr>
                                                <td>
                                                    <div>
                                                        <strong>Súng</strong>
                                                    </div>
                                                </td>
                                                <td>@s.SoHieuSung</td>
                                                <td>@s.TinhTrang</td>
                                                <td>@s.GhiChu</td>
                                            </tr>
                                        }
                                    }
                                    @foreach (var tb in bbTB)
                                    {
                                        if (tb.MuonTra == 1)
                                        {
                                            <tr>
                                                <td>
                                                    <div>
                                                        <strong>@tb.MaTrangBi</strong>
                                                    </div>
                                                </td>
                                                <td>@tb.SoLuong (cái)</td>
                                                <td>@tb.TinhTrang</td>
                                                <td>@tb.GhiChu</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>


                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <table id="example2" class="table table-bordered table-hover col-4">
                                <thead>
                                    <tr>
                                        <th colspan="2">Nhập kho (@bienbangac.ThoiGianTra ngày @ViewBag.ngay1.ToString("dd/MM/yyyy"))</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <b>Người giao (cH/c)</b>
                                        </td>
                                        <td>
                                            <b>Người nhận</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@bienbangac.CbdaidoiGiao</td>
                                        <td>@bienbangac.CbkhoNhan</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table id="example2" class="table table-bordered table-hover col-8">
                                <thead>
                                    <tr>
                                        <th>Nội dung</th>
                                        <th>Chi tiết, SL nhận</th>
                                        <th>Tình trạng</th>
                                        <th>Thiếu</th>
                                        <th>Ghi chú</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var s in bbSung)
                                    {
                                        if (s.MuonTra == 0)
                                        {
                                            <tr>
                                                <td>
                                                    <div>
                                                        <strong>Súng</strong>
                                                    </div>
                                                </td>
                                                <td>@s.SoHieuSung</td>
                                                <td>@s.TinhTrang</td>
                                                <td></td>
                                                <td>@s.GhiChu</td>
                                            </tr>
                                        }
                                    }
                                    @foreach (var tb in bbTB)
                                    {
                                        if (tb.MuonTra == 0)
                                        {
                                            <tr>
                                                <td>
                                                    <div>
                                                        <strong>@tb.MaTrangBi</strong>
                                                    </div>
                                                </td>
                                                <td>@(tb.SoLuong - tb.Slthieu) (cái)</td>
                                                <td>@tb.TinhTrang</td>
                                                <td>@tb.Slthieu (cái)</td>
                                                <td>@tb.GhiChu</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                            <a class="btn btn-primary" href="~/Gac/LichGac">Quay lại</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
